header{
    text-align: center;
    background-color: grey;
    padding: 5px;
}
main{
    margin: 10px;
}
.main-container{
    display: flex;
}
.hero-list{
    padding: 10px;
}
.heroes {
    list-style-type: none;
    padding: 0;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    background-color: black;
    color: grey;
    border-radius: 4px;
    padding: 2px;
    margin: 3px;
  }
  .heroes li:hover {
    color: black;
    background-color: grey;
    
  }
  .heroes li.selected {
    background-color: grey;
    color: black;
  }
  .heroes li.selected:hover {
    background-color: grey;
    color: black;
  }
